
database_servers:
{
	# MySQL dictionary database definitions
	mysql_dictionary:
	{
		host		= "mysql_host";
		username	= "mysql_user_name";
		password	= "mysql_password";
		database	= "mysql_database_name";
	};
}
